html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    overflow-y: hidden;
    background-image: linear-gradient(
        to bottom right,
        rgb(191, 0, 255),
        rgb(0, 255, 238)
    );
    background-size: cover;
}

div.form-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 6rem;
    border: 2px solid;
    border-radius: 1rem;
}

h1 {
    margin: 0 0 2rem 0;
    text-decoration: underline;
}

div.form-fields-container {
    display: flex;
    flex-direction: column;
}

div.form-fields-container p {
    font-size: 1.6rem;
    margin: 0 0 -1.5rem 0;
}

input {
    font-size: 1.6rem;
    height: 2rem;
    margin: 2rem 0;
    padding-left: .5rem;
    border: 2px solid coral;
    border-radius: 1rem;
    outline: none;
}

button {
    width: 100%;
    margin-top: 2rem;
    outline: none;
    font-size: 1.6rem;
    border: 2px solid coral;
    border-radius: 1rem;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: coral;
}
